.matching-post {
    min-width: 100%;
    min-height: 100%;
    font-family: 'Nanum Brush Script', cursive;
    font-weight: 550;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* map */
.matching-post .map {
    min-width: 100%;
    min-height: 100%;
}

.matching-post .greeting {
    font-size: 1.5rem;
    padding: 20px 0px;
    text-align: center;
}

.matching-post .address {
    padding-top: 0px;
}

.matching-post .map #map {
    width: 80%;
    max-width: 500px;
    height: 40vh;
    min-height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    border: 1px solid black;
}

/* category */
.matching-post .categorys {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.matching-post .categorys>.title {
    text-align: center;
    font-size: 2.0rem;
}

.matching-post .categorys .category-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    flex-wrap: wrap;
}

.matching-post .categorys .category-list .category {
    text-align: center;
    padding: 15px 20px;
}

.matching-post .categorys .category-list .category>img {
    width: 50px;
    height: 50px;
}

.matching-post .categorys .category-list .category>p {
    padding: 5px 0px;
    font-size: 1.2rem;
}

/* post */
.matching-post .posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
}

.matching-post .posts .post-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.matching-post .posts>.title {
    font-size: 2.0rem;
}

.matching-post .posts .post-list .post {
    width: 80%;
    align-items: center;
    padding: 0.5rem 10%;
    margin: 10px 0px;
}

.matching-post .posts .post-list .post .category {
    width: 100%;
    text-align: center;
    margin: 20px 0px;
}

.matching-post .posts .post-list .post .category img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.matching-post .posts .post-list .post .detail {
    width: 100%;
}

.matching-post .posts .post-list .post .detail p {
    margin: 5px 0px;
    font-size: 1.5rem;
}

/* modalPost */
.modal-post {
    font-family: 'Nanum Brush Script', cursive;
    -ms-oveflow-style: none;
}

.matching-post .btn-detail {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.modal-post .modal-header {
    display: flex;
    justify-content: center;
}

.modal-post .modal-header .modal-title {
    font-size: 1.75rem;
}

.modal-post .modal-header .btn-close {
    position: absolute;
    left: 85%;
}

.modal-post .modal-body {
    overflow: scroll;
    max-height: 60vh;
}

.modal-post .modal-body::-webkit-scrollbar {
    display: none;
    width: 0 !important
}

.modal-post .modal-body p {
    font-size: 1.5rem;
    padding: 5px 0px;
}

.modal-post .modal-body .btn-join-chat {
    text-align: center;
}

.modal-post .modal-body .btn-join-chat .btn {
    margin: 10px 0px;
    font-size: 1.5rem;
}

.modal-post .modal-footer .btn {
    font-size: 1.5rem;
}

.modal-post label {
    width: 25%;
    font-size: 1.2rem;
}

.modal-post input,
.modal-post select {
    width: 45%;
    min-height: 30px;
    margin: 5px 0px;
}

.modal-post .place {
    display: flex;
    justify-content: left;
    align-items: center;
}

.modal-post .btn-address {
    margin-left: 10px;
}

.modal-post .btn-address .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 0 10px;
}

/* 425px to 599px */
@media screen and (min-width:425px) and (max-width:599px) {
    .matching-post .greeting {
        font-size: 1.8rem;
    }

    .matching-post .categorys>.title {
        font-size: 2.4rem;
    }

    .matching-post .categorys .category-list .category>img {
        width: 55px;
        height: 55px;
    }

    .matching-post .categorys .category-list .category>p {
        font-size: 1.5rem;
    }

    .matching-post .posts .title {
        font-size: 2.4rem;
    }

    .matching-post .posts .post-list .post {
        width: 70%;
    }

    .matching-post .posts .post-list .post .detail p {
        font-size: 1.7rem;
    }

    .matching-post .posts .post-list .post .btn-join {
        font-size: 1.7rem;
    }

    .matching-post .btn-detail {
        font-size: 1.75rem;
    }

    .modal-post .modal-header .modal-title {
        font-size: 1.9rem;
    }

    .modal-post .modal-body p {
        font-size: 1.75rem;
    }

    .modal-post .modal-body .btn-join-chat .btn {
        margin: 10px 0px;
        font-size: 1.6rem;
    }

    .modal-post .modal-footer .btn {
        font-size: 1.6rem;
    }

    .modal-post label {
        width: 25%;
        font-size: 1.5rem;
    }

    .modal-post input,
    .modal-post select {
        width: 50%;
        height: 36px;
        margin: 7px 0px;
    }

    .modal-post .btn-address .btn {
        height: 36px;
        font-size: 1.5rem;
    }
}

/* 600px to 767px */
@media screen and (min-width:600px) and (max-width:767px) {
    .matching-post .greeting {
        font-size: 2.1rem;
    }

    .matching-post .categorys>.title {
        font-size: 2.7rem;
    }

    .matching-post .categorys .category-list .category>img {
        width: 60px;
        height: 60px;
    }

    .matching-post .categorys .category-list .category>p {
        font-size: 1.8rem;
    }

    .matching-post .posts .title {
        font-size: 2.7rem;
    }

    .matching-post .posts .post-list .post {
        width: 70%;
        padding: 0.5rem 15%;
    }

    .matching-post .posts .post-list .post .detail p {
        font-size: 2.0rem;
    }

    .matching-post .posts .post-list .post .btn-join {
        font-size: 2rem;
    }

    .matching-post .btn-detail {
        font-size: 1.9rem;
    }

    .modal-post .modal-header .modal-title {
        font-size: 2.1rem;
    }

    .modal-post .modal-body p {
        font-size: 1.9rem;
    }

    .modal-post .modal-body .btn-join-chat .btn {
        margin: 10px 0px;
        font-size: 1.75rem;
    }

    .modal-post .modal-footer .btn {
        font-size: 1.75rem;
    }

    .modal-post label {
        width: 22.5%;
        font-size: 1.8rem;
    }

    .modal-post input,
    .modal-post select {
        width: 50%;
        height: 40px;
        margin: 10px 0px;
        font-size: 1.8rem;
    }

    .modal-post .btn-address .btn {
        height: 40px;
        font-size: 1.8rem;
    }
}

/* 768px to 1023px */
@media screen and (min-width:768px) and (max-width:1023px) {
    .matching-post .greeting {
        font-size: 2.5rem;
    }

    .matching-post .categorys>.title {
        font-size: 2.7rem;
    }

    .matching-post .categorys .category-list .category>img {
        width: 65px;
        height: 65px;
    }

    .matching-post .categorys .category-list .category>p {
        font-size: 2.2rem;
    }

    .matching-post .posts .title {
        font-size: 2.7rem;
    }

    .matching-post .posts .post-list .post {
        width: 70%;
        padding: 0.5rem 15%;
    }

    .matching-post .posts .post-list .post .detail p {
        font-size: 2.2rem;
    }

    .matching-post .btn-detail {
        font-size: 2.1rem;
    }

    .modal-post .modal-header .modal-title {
        font-size: 2.1rem;
    }

    .modal-post .modal-body p {
        font-size: 2.0rem;
    }

    .modal-post .modal-body .btn-join-chat .btn {
        margin: 10px 0px;
        font-size: 1.9rem;
    }

    .modal-post .modal-footer .btn {
        font-size: 1.9rem;
    }

    .modal-post label {
        width: 25%;
        font-size: 2.1rem;
    }

    .modal-post input,
    .modal-post select {
        width: 50%;
        height: 40px;
        margin: 10px 0px;
        font-size: 2.1rem;
    }

    .modal-post .btn-address .btn {
        height: 40px;
        font-size: 2.1rem;
    }
}

/* 1024px to ~px */
@media screen and (min-width:1024px) {
    .matching-post .greeting {
        font-size: 3.0rem;
    }

    .matching-post .categorys>.title {
        font-size: 3.2rem;
    }

    .matching-post .categorys .category-list .category>img {
        width: 75px;
        height: 75px;
    }

    .matching-post .categorys .category-list .category>p {
        font-size: 2.6rem;
    }

    .matching-post .posts .title {
        font-size: 3.2rem;
    }

    .matching-post .posts .post-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .matching-post .posts .post-list .post {
        min-width: 35vw;
        padding: 0 2.5%;
        margin: 10px 10px;
    }

    .matching-post .post-list .post .detail {
        padding: 0 5vw;
    }

    .matching-post .posts .post-list .post .detail p {
        font-size: 1.8rem;
    }

    .matching-post .btn-detail {
        font-size: 2.2rem;
    }

    .modal-post .modal-header .modal-title {
        font-size: 2.5rem;
    }

    .modal-post .modal-body p {
        font-size: 2.2rem;
    }

    .modal-post .modal-body .btn-join-chat .btn {
        margin: 10px 0px;
        font-size: 1.9rem;
    }

    .modal-post .modal-footer .btn {
        font-size: 1.9rem;
    }

    .modal-post label {
        width: 27.5%;
        font-size: 2.3rem;
    }

    .modal-post input,
    .modal-post select {
        width: 50%;
        height: 40px;
        margin: 10px 0px;
        font-size: 2.3rem;
    }

    .modal-post .btn-address .btn {
        width: 110px;
        height: 40px;
        font-size: 2.3rem;
    }
}