.matching-post {
    min-width: 100%;
    min-height: 100%;
}

.matching-post .kakao-map {
    min-width: 100%;
    min-height: 100%;
}

.matching-post .greeting {
    font-size: 1.5rem;
    font-family: 'Nanum Brush Script', cursive;
    padding: 20px 0px;
    text-align: center;
}

.matching-post .address {
    padding-top: 0px;
}

.matching-post .kakao-map #map {
    width: 80%;
    max-width: 500px;
    height: 40vh;
    min-height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    border: 1px solid black;
}

/* 425px to 599px */
@media screen and (min-width:425px) and (max-width:599px) {
    .matching-post .greeting {
        font-size: 1.8rem;
    }
}

/* 600px to 767px */
@media screen and (min-width:600px) and (max-width:767px) {
    .matching-post .greeting {
        font-size: 2.1rem;
    }
}

/* 768px to 1023px */
@media screen and (min-width:768px) and (max-width:1023px) {
    .matching-post .greeting {
        font-size: 2.5rem;
    }
}

/* 1024px to ~px */
@media screen and (min-width:1024px) {
    .matching-post .greeting {
        font-size: 3.0rem;
    }
}