.homepage .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
    background-image: url('../images/homepage.png');
    background-size: 100% 30%;
    background-repeat: no-repeat;
    font-family: 'Nanum Brush Script', cursive;
}

.homepage .header .catchphrase {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    margin: 20px 0px 0px 0px;
    margin-bottom: 0;
}

.homepage .header .title {
    font-size: 3.5rem;
    padding: 20px 0px 20px 0px;
}

.homepage .header .btns .btn {
    width: 120px;
    font-size: 1.1rem;
    margin: 0 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0);
    color: white;
}

/* 425px to 599px */
@media screen and (min-width:425px) and (max-width:599px) {
    .homepage .header .catchphrase {
        font-size: 2rem;
    }

    .homepage .header .title {
        font-size: 5rem;
    }

    .homepage .header .btns .btn {
        width: 170px;
        font-size: 1.5rem;
    }
}

/* 600px to 767px */
@media screen and (min-width:600px) and (max-width:767px) {
    .homepage .header .catchphrase {
        font-size: 2.5rem;
        margin-top: 80px;
    }

    .homepage .header .title {
        font-size: 7rem;
    }

    .homepage .header .btns .btn {
        width: 250px;
        font-size: 2rem;
    }
}

/* 768px to 1024px */
@media screen and (min-width:768px) and (max-width:1023px) {
    .homepage .header .catchphrase {
        font-size: 3.5rem;
        margin-top: 130px;
    }

    .homepage .header .title {
        font-size: 8.5rem;
        padding-top: 0px;
    }

    .homepage .header .btns .btn {
        width: 290px;
        font-size: 2.4rem;
    }
}

/* 1024px to 1439px */
@media screen and (min-width:1024px) and (max-width:1439px) {
    .homepage .header {
        background-size: 100% 100%;
    }

    .homepage .header .catchphrase {
        font-size: 4.2rem;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .homepage .header .title {
        font-size: 8.5rem;
        padding-top: 0px;
    }

    .homepage .header .btns .btn {
        width: 350px;
        font-size: 3rem;
    }
}

/* 1440px to 1919px */
@media screen and (min-width:1440px) and (max-width:1919px) {
    .homepage .header {
        background-size: 100% 100%;
    }

    .homepage .header .catchphrase {
        font-size: 4.8rem;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .homepage .header .title {
        font-size: 8.5rem;
        padding-top: 0px;
    }

    .homepage .header .btns .btn {
        width: 350px;
        font-size: 3.3rem;
    }
}

/* 1920px to 2559px */
@media screen and (min-width:1920px) and (max-width:2559px) {
    .homepage .header {
        background-size: 100% 100%;
    }

    .homepage .header .catchphrase {
        font-size: 5.2rem;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .homepage .header .title {
        font-size: 10rem;
        padding-top: 0px;
    }

    .homepage .header .btns .btn {
        width: 400px;
        font-size: 3.7rem;
    }
}

/* 2560px to ~px */
@media screen and (min-width:2560px) {
    .homepage .header {
        background-size: 100% 100%;
    }

    .homepage .header .catchphrase {
        font-size: 6.5rem;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .homepage .header .title {
        font-size: 12rem;
        padding-top: 0px;
    }

    .homepage .header .btns .btn {
        width: 500px;
        font-size: 4.5rem;
    }
}