.login .login-view {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vw;
    max-width: 400px;
    background-color: gray;
    height: 50vh;
}

.login .login-view .btn-login {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 2rem;
    width: 106px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .login-view .btn-login.active {
    display: none;
}

/* 425px to 599px */
@media screen and (min-width:425px) and (max-width:599px) {
    .login .login-view .btn-login {
        font-size: 2.5rem;
        width: 150px;
    }
}

/* 600px to 767px */
@media screen and (min-width:600px) and (max-width:767px) {
    .login .login-view .btn-login {
        font-size: 2.8rem;
        width: 180px;
        height: 50px;
    }
}

/* 768px to 1023px */
@media screen and (min-width:768px) and (max-width:1023px) {
    .login .login-view .btn-login {
        font-size: 3.2rem;
        width: 200px;
        height: 50px;
    }
}

/* 1024px to ~px */
@media screen and (min-width:1024px) {
    .login .login-view .btn-login {
        font-size: 3.5rem;
        width: 200px;
        height: 50px;
    }
}