@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gugi&family=Jua&family=Lobster&family=Nanum+Brush+Script&family=Nanum+Pen+Script&family=Playfair+Display:ital@1&display=swap');

body {
    margin: 0;
}

body .App {
    margin-top: 50px;
    height: calc(100vh - 50px);
    min-height: calc(100vh - 50px);
}

p {
    margin-bottom: 0px
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}